<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConfluenceRESTClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ConfluenceRESTClient.Properties.Settings>
            <setting name="consumerKey" serializeAs="String">
                <value>OauthKey</value>
            </setting>
            <setting name="consumerSecret" serializeAs="String">
                <value>MIICdwIBADANBgkqhkiG9w0BAQEFAASCAmEwggJdAgEAAoGBAOWOLtvZOhMegCEjt04ZbMJsnb79VKmxK7KbdYSVJYGitQQ6ZCLoEQz70BAl1WW/VFIM7dH5YJ+ghbeEE8eo6Hr02yKzs44h0AFu1yFvGxU7JvXohJ+UArms9L/OGQFTcX16F2h75T7+v8XIfHVxJ3LcMJgvAbmLv1zMpBhkiRYxAgMBAAECgYEAgms/cCSAfDBN94YFNNf5FJUFImdnXGmOPBFauRLLllVMprROBA748Pl4AlScYwxK6bryuuMF5GsczWC6pCrwuScjbjh68UGDlbjwxdzY/FZnreJ5CMjVYsod5T/fPj4pR312KNev2JGb06Tqqyqk5a/xeKlLDXF2b/pC6WNidAECQQD5ybfTLS8YRrsB30tq5w+eUJjoEsQBMWDrQqSItUq5NrWfMJMdFXkL+gVxskdja/feDxbA4aFNfx2Bu2/baACRAkEA60OnYapDSOwGfoZKHh4mXxUCoUTGEWu+fS8lxz/WIyZ8nnSMQg3GL5N7t5D2QeAONCnxyIaMIcmYRQt6W7KLoQJAdKH8xI0/hT1ZiplB9MupHkoR66L/hHMTBybZ/r9wAaWLDqa2uojROYdnzVvqO4EpfrVa8XspPy9Qjsf/hdo9EQJBAJgTDFBSWdn6T5xbu+9J9+3ATAnoxcufBOwwnM/2ELp591YJ6lwMQU6hm/glqTkd1rCbaGIBrvVsNZRz/ezmNeECQBXDncxQ1YCnWIfb8sy9H74hESrhtE47LlKpsLfsJOxE7bd/CeNCqB/IjI1C7eO+PQGcmb+2eKCH8cwvpHitxRo=</value>
            </setting>
            <setting name="cerificatePath" serializeAs="String">
                <value>C:\cygwin64\home\RODINA-PC\mycer.pfx</value>
            </setting>
            <setting name="certificateSecret" serializeAs="String">
                <value>confluenceex</value>
            </setting>
        </ConfluenceRESTClient.Properties.Settings>
    </applicationSettings>
</configuration>